@model Brollop.Models.DbModels.Guest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSAStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSAStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
